.hero_container {
  background: linear-gradient(
    to left,
    rgba(231, 240, 255, 1),
    rgba(232, 241, 255, 0.47)
  );

  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  margin-bottom: 10rem;
  position: relative;
}
.right_hero {
  width: 585px;
}
.left_hero {
  flex: 1;
  margin-top: 5rem;
}
.para_heading {
  font-family: Poppins;
  font-weight: 500;
  font-size: 31px;
  line-height: 68px;
  letter-spacing: 2%;
}
.para_hero {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2%;
  color: rgba(92, 97, 105, 1);
}
.spanStyle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 2%;
  color: rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 1230px) {
  .hero_container {
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 0rem;
  }
  .left_hero {
    margin-top: 3rem;
  }
  .right_hero {
    width: 100%;
  }
}
