.search_bar_container {
  margin-bottom: 2rem;
}
.form_container {
  display: flex;

  justify-content: flex-end;
  gap: 5rem;
}
.form_container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form_container > Button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1.5rem;
  /* padding-left: 1rem; */
}

.search_box {
  border-radius: 8px;
  border: 1px solid rgba(240, 240, 240, 1);
  background-color: rgba(250, 251, 254, 1);
  padding-left: 1rem;
  width: 30%;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 2%;
  color: rgba(171, 182, 199, 1);
}
/* select {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 2%;
  appearance: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 5rem;
  padding-left: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(250, 251, 254, 1);
  outline: none;
  color: rgba(171, 182, 199, 1);
  width: 100%;
} */
.search_box > ul {
  position: absolute;
  top: 1.75rem;
  left: 0;
  width: 89%;
  background-color: rgba(250, 251, 254, 1);
  overflow-y: scroll;
  max-height: 40vh;
  /* padding: 2rem; */
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1;
}
.search_box > ul > li {
  padding: 0.75rem;
}

@media only screen and (max-width: 1230px) {
  .form_container {
    gap: 1rem;
    justify-content: space-between;
  }
  /* .search_box {
    width: unset;
  } */
}
