.navbar_container {
  background: linear-gradient(
    to left,
    rgba(231, 240, 255, 1),
    rgba(232, 241, 255, 0.47)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 7rem;
}
.logo_container {
  width: 92px;
  height: 27px;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(16, 40, 81, 1);
  cursor: pointer;
}
.nav_links > span:hover {
  color: black;
  text-decoration: underline;
}
